:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;  

  --bg--color: #292929;
  --text--color: #fefffa;
  --second--color: #8a94af;
  --main-color: #166a8e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}


body {
  margin: 0;
  display: flex;  
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg--color);
  color: var(--text--color);
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
